
.nav{
    display: flex;
    background-color:darkgrey;
    color:aqua;
    position: fixed;
    gap: 268px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.nav a:hover{
color:greenyellow;
}
.nav h3:hover{
    font-size: larger;
    color: lightcyan;
}
.ab{
    padding-top: 100px;
    color: darkorange;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 20px;
    font-weight: 200;
    font-size: xx-large;
}
.Family {
    padding-top: 10px;
    display: grid;
  grid-template-columns: repeat(3, 3fr);
  gap: 10px;

}
.ph{
    display: block;
  width: 100%;
  height: auto;
  cursor: pointer;
  border: 3px solid red;
  gap:5px;

}
.Family ph{
    padding-top: 10px;
    width: 50px;
    height: 50px;
    gap:5px;
        cursor: pointer;
    border: 1px solid black;

}
.enlarged {
  transform: scale(2.0); /* Increase the size of the image */
}
.g h4{
    color: darkviolet;
    font-weight: bolder;
    text-align: center;
    font-size: x-large;

}
@media
{
    .g h4{
        width: fit-content;
    }
    .Family{
        width: fit-content;
    }
}
